@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css */  
@keyframes gradientAnimation {  
  0% {  
    background-position: 0% 50%;  
  }  
  50% {  
    background-position: 100% 50%;  
  }  
  100% {  
    background-position: 0% 50%;  
  }  
}  
  
@keyframes moveBall {  
  0% {  
    transform: translate(0, 0);  
  }  
  25% {  
    transform: translate(100px, 50px);  
  }  
  50% {  
    transform: translate(0, 100px);  
  }  
  75% {  
    transform: translate(-100px, 50px);  
  }  
  100% {  
    transform: translate(0, 0);  
  }  
}  
  
@keyframes moveSquare {  
  0% {  
    transform: translate(0, 0);  
  }  
  25% {  
    transform: translate(50px, 50px);  
  }  
  50% {  
    transform: translate(0, 100px);  
  }  
  75% {  
    transform: translate(-50px, 50px);  
  }  
  100% {  
    transform: translate(0, 0);  
  }  
}   

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(270deg, #ff6a00, #ee0979, #ff6a00);  
  background-size: 400% 400%;  
  animation: gradientAnimation 15s ease infinite; 
}


.bola {  
  position: absolute;  
  width: 50px;  
  height: 50px;  
  background-color: #ff6a00;  
  border-radius: 50%;  
  animation: moveBall 5s ease-in-out infinite;  
}  
  
.square {  
  position: absolute;  
  width: 40px;  
  height: 40px;  
  background-color: #ee0979;  
  animation: moveSquare 4s ease-in-out infinite;  
}  
